
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits              {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                :sha     "b15883ff37b665376c36dd7cd6c614e088cdfd54"}
         bithandshake/cljc-time                {:git/url "https://github.com/bithandshake/cljc-time"
                                                :sha     "b15883ff37b665376c36dd7cd6c614e088cdfd54"}
         mt-app-kit/cljs-intersection-observer {:git/url "https://github.com/mt-app-kit/cljs-intersection-observer"
                                                :sha     "b15883ff37b665376c36dd7cd6c614e088cdfd54"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}
         reagent/reagent                       {:mvn/version "1.2.0"}}}
